.message
  .message__info
    .message__info--name
      = post.user.name
    .message__info--date-time
      = post.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message__text
    -if post.content.present?
      %p.message__text--plaintext
        = post.content
      %p
        = image_tag post.image.url, class: 'message__text--image' if post.image.present?
    -#   = post.content
    -# = image_tag post.image.url, class: 'message__text--image' if post.image.present?